.insert {
  position: sticky;
  top: 0;
  color: white;
  background-color: #5f5f5f;
  box-shadow: 0px 5px 5px 0px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
}
