.modal {
  background-color: #000000b8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.modal img {
  max-height: 90%;
  max-width: 100%;
}

.modal button {
  cursor: pointer;
  border-radius: 1rem;
  border: double;
  color: white;
  font-size: 2rem;
  background-color: #0000;
  height: 3rem;
  width: 3rem;
  position: absolute;
  right: 3rem;
  top: 1rem;
}
